<div *ngIf="selected">
  <app-equipo-detail [equipoDetail]="selectedEquipo"></app-equipo-detail>
 </div>

 <hr />

 <div class="container-fluid">
  <div class="row">
    <div *ngFor="let equipo of equipos" class="col mb-2">
      <div class="card p-2" style="width: 15rem; height: 8rem">
        <img
          src="{{ equipo.name }}"
          alt="{{ equipo.name }}"
          (click)="onSelected(equipo)"
        />
        <div class="card-body">
          <h5 class="card-title">{{ equipo.name }}</h5>
          <p class="card-text">[{{ equipo.group_letter}}]</p>
        </div>
      </div>
    </div>
  </div>
 </div>
