<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Location</th>
          <th class="h4">Home</th>
          <th class="h4">Away</th>
          <th class="h4">Status</th>
          <th class="h4">Goals Home</th>
          <th class="h4">Goals Away</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let p of partidos">
          <td>
            <dd>{{p.location}}</dd>
          </td>
          <td>
            <dd>{{p.home_team.name}}</dd>
          </td>
          <td>
            <dd>{{p.away_team.name}}</dd>
          </td>
          <td>
            <dd>{{p.status}}</dd>
          </td>
          <td>
            <dd>{{p.home_team.goals}}</dd>
          </td>
          <td>
            <dd>{{p.away_team.goals}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Equipo</th>
          <th class="h4">Goles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor= "let e of ordenados">
          <td>
            <dd>{{e.name}}</dd>
          </td>
          <td>
            <dd>{{e.goals}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
